#header{
    background:white;
    width:100%;
    display:flex;
    justify-content: center;
}
#feed{
    background:rgb(146, 146, 146);
    width:100%;
    display:grid;
    justify-content: center;
}
#photo{
    background:white;
    margin-bottom: 50px;   
}
img{
    max-height: 550px;
    max-width: 610px;
}
.fix{
    margin-top: 50px;
}
#flex{
    display: flex;
    justify-content:space-between;
}
#numbers{
    margin-right: 10px;
    color:grey;
}
h2,
p{
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
i{
    margin-top: 15px;
    margin-left:5px;
}
.icon{
    display:flex;
}
.socialnetwork{
    display: flex;
    justify-content: center;
    background:rgb(146, 146, 146);
    margin-top: -15px;
}
	